/*
 * @author tuituidan
 * @date 2020/12/11
 */

.content-wrapper .ivu-table th {
    background-color: #0062c6 !important;
    color: #fff !important;
}

.content-wrapper .red-cir {
    width: 11px;
    height: 11px;
    display: inline-block;
    background: #e74c3c;
    border-radius: 50% 50%;
    margin-right: 5px;
}

.content-wrapper .green-cir {
    width: 11px;
    height: 11px;
    display: inline-block;
    background: #19be6b;
    border-radius: 50% 50%;
    margin-right: 5px;
}

.content-wrapper .ivu-dropdown-item {
    transition: unset !important;
}

.content-wrapper .ivu-dropdown-item:hover {
    background: #008CEE !important;
    color: #fff !important;
}

.content-wrapper .ivu-select-item {
    transition: unset !important;
}

.content-wrapper .ivu-select-item:hover {
    background: #008CEE !important;
    color: #fff !important;
}

.content-wrapper .ivu-select-item-focus {
    background: #fff !important;
    color: #008CEE !important;
    font-weight: bold;
}


.dd-menu {
    width: 200px;
    min-width: 200px;
    height: 100%;
}

.dd-menu .ddi-wapper {
    display: flex;
    align-items: center;
    padding-left: 10px;
}


.dd-menu .ddi-wapper .ddi-text{
    margin-left: 10px;
}

.dd-menu .ivu-dropdown-menu {
    margin: 0;
    line-height: normal;
    padding: 7px 16px;
    clear: both;
    color: #515a6e;
    font-size: 12px !important;
    white-space: nowrap;
    list-style: none;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.dd-menu .ivu-dropdown-menu:hover {
    background: #008CEE !important;
    color: #fff !important;
}

.ivu-btn-text {
    color: #515a6e;
    background-color: transparent;
    border-color: transparent;
}

.ivu-btn-text:hover {
    background-color: rgba(255, 255, 255, .2) !important;
}

.ivu-layout.ivu-layout-has-sider {
    height: 100%;
}

.ivu-layout-sider {
    background: #fff;
    transition: none;
}

.ivu-layout-header {
    height: 60px;
    line-height: 60px;
}

.ivu-menu {
    height: calc(100% - 60px);
    overflow-y: auto;
}

.ivu-menu-item {
    white-space: nowrap;
}

.ivu-menu-submenu {
    white-space: nowrap;
}

.ivu-menu-submenu .ivu-menu-submenu-title {
    white-space: nowrap;
}


.admin-layout-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.admin-layout-container .layout {
    background: #f5f7f9;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.admin-layout-container .layout .sidebar {
    background: #fff;
}

.admin-layout-container .layout .dropdown-wrap {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    z-index: 11;
}

.admin-layout-container .layout .dropdown-wrap .dw-content {
    height: 100%;
}

.admin-layout-container .layout .dropdown-wrap .dw-content .dd-btn {
    width: 83px;
    margin-left: -5px;
    padding: 10px 0;
    height: auto;
}

.admin-layout-container .layout .logo {
    width: auto;
    height: 60px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    border-bottom: 1px solid #363e4f;
    position: relative;
    padding-left: 13px;
    background: #0d58ab;
}

.admin-layout-container .layout .logo .logo-saiqu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.admin-layout-container .layout .logo .ivu-avatar {
    background-color: #0d58ab;
}

.admin-layout-container .layout .logo .logo-saiqu .logo-text {
    color: #fff;
    font-size: 16px;
    margin-left: 7px;
}

.admin-layout-container .layout-header-bar {
    background: #fff;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 20;
    width: 100%;
}

.admin-layout-container .layout-header-bar .header-wapper {
    display: flex;
    align-tems: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    box-shadow: 0 2px 1px 1px rgba(100, 100, 100, 0.1);
    background: #0e64c3;
    color: #fff;
}

.admin-layout-container .layout-header-bar .header-wapper .header-left {
    display: flex;
    align-items: center;
}

.admin-layout-container .layout-header-bar .header-wapper .header-left .header-title {
    font-size: 18px;
    font-weight: bold
}

.admin-layout-container .layout-header-bar .header-wapper .header-right {
    margin-right: 20px;
}

.admin-layout-container .layout-header-bar .header-wapper .header-right .ivu-dropdown {
    padding-right: 10px;
}

.admin-layout-container .layout-header-bar .header-wapper .header-right .ivu-dropdown:hover {
    background-color: #0d58ab;
}

.admin-layout-container .layout-header-bar .header-wapper .header-right .btn-blue {
    color: #fff;
    font-size: 16px;
}

.admin-layout-container .layout-header-bar .header-wapper .header-right .user-name {
    margin: 0 10px;
    font-size: 16px;
}

.admin-layout-container .layout-logo-left {
    width: 90%;
    height: 30px;
    background: #5b6270;
    border-radius: 3px;
    margin: 15px auto;
}

.admin-layout-container .menu-icon {
    cursor: pointer;
    transition: all .3s;
    margin: 0 20px 0;
}

.admin-layout-container .rotate-icon {
    transform: rotate(-90deg);
}

.admin-layout-container .menu-item {
    position: absolute;
    overflow: auto;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.admin-layout-container .menu-item:after {
    width: 0;
}

.admin-layout-container .menu-item span {
    display: inline-block;
    white-space: nowrap;
    vertical-align: bottom;
    transition: width .2s ease .2s;
}

.admin-layout-container .menu-item i {
    transform: translateX(0px);
    transition: font-size .2s ease, transform .2s ease;
    vertical-align: middle;
    font-size: 16px;
}

.ivu-menu-vertical .ivu-menu-submenu-title-icon {
    float: right;
    position: relative;
    top: 4px;
    right: 0;
}

.admin-layout-container .collapsed-menu span {
    width: 0;
    transition: width .2s ease;
}

.admin-layout-container .collapsed-menu i {
    transform: translateX(5px);
    transition: font-size .2s ease .2s, transform .2s ease .2s;
    vertical-align: middle;
    font-size: 22px;
}

.admin-layout-container .main-content {
    width: 100%;
    height: calc(100% - 60px);
    position: relative;
    overflow: auto;
    padding: 10px;
}

.master-page-container {
    background-color: #fff;
    position: relative;
    overflow: auto;
    height: 100%;
    padding: 10px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

/* 颜色 */
.bg-success{
    background-color: #19be6b;
}
.bg-info{
    background-color: #2db7f5;
}
.bg-error{
    background-color: #ed4014;
}
.bg-warning{
    background-color: #ff9900;
}
.bg-primary{
    background-color: #2b85e4;
}
/* 首页 begin*/
.dashboard-card .card-icon {
    text-align: center;
    padding: 10px 0
}

.dashboard-card .card-text {
    color: white;
    font-size: 18px;
    padding-top: 10px
}

/* 首页 end*/

/* 列表页面通用 begin */
.search-panel{
    overflow: hidden;
    padding: 10px;
}
.search-panel .panel-left{
    float: left;
}
.search-panel .panel-right{
    float: right;
}
.page-panel{
    margin-top: 10px;
}
/*分页table没有数据显示滚动条问题*/
.ivu-table-tip {
    overflow-x:hidden!important;
}
/* 列表页面通用 end */
