
.side-nav {
    background-color: #05264c;
}
.side-nav a {
    color: #a5bad2;
    font-size: 20px;
}

.side-nav .active {
    background-color: #2c4056;
    color: white;
}

.side-nav a:hover {
    background-color: #34485f;
}
.logo-main {
    text-align: center;
    margin: 15px 0;
}
.logo-text {
    color: white;
    font-size: 28px;
    line-height: 108px;
    text-align: left;
}
.right-main {
    left: 300px;
    position: fixed;
    width: calc(100% - 300px);
    height: 100%;
    overflow-y: scroll;
}

.row {
    margin-bottom: 0;
}
.row .col {
    padding: 0 8px;
}
