/*
 * @author tuituidan
 * @date 2020/12/11
 */
/*:root {
    --default-menu-width: 260px;
    --small-menu-width: 210px;
    --default-header-height: 70px;
    --small-header-height: 60px;
    --default-logo-height: 100px;
    --small-logo-height: 80px;
}*/
.content-wrapper .ivu-table th {
    background-color: #0062c6 !important;
    color: #fff !important;
}

.content-wrapper .red-cir {
    width: 11px;
    height: 11px;
    display: inline-block;
    background: #e74c3c;
    border-radius: 50% 50%;
    margin-right: 5px;
}

.content-wrapper .green-cir {
    width: 11px;
    height: 11px;
    display: inline-block;
    background: #19be6b;
    border-radius: 50% 50%;
    margin-right: 5px;
}

.content-wrapper .ivu-dropdown-item {
    transition: unset !important;
}

.content-wrapper .ivu-dropdown-item:hover {
    background: #008CEE !important;
    color: #fff !important;
}

.content-wrapper .ivu-select-item {
    transition: unset !important;
}

.content-wrapper .ivu-select-item:hover {
    background: #008CEE !important;
    color: #fff !important;
}

.content-wrapper .ivu-select-item-focus {
    background: #fff !important;
    color: #008CEE !important;
    font-weight: bold;
}


.dd-menu {
    width: 200px;
    min-width: 200px;
    height: 100%;
}

.dd-menu .ddi-wapper {
    display: flex;
    align-items: center;
    padding-left: 10px;
}


.dd-menu .ddi-wapper .ddi-text {
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dd-menu .ivu-dropdown-menu {
    margin: 0;
    line-height: normal;
    padding: 7px 16px;
    clear: both;
    color: #515a6e;
    font-size: 12px !important;
    white-space: nowrap;
    list-style: none;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.dd-menu .ivu-dropdown-menu:hover {
    background: #008CEE !important;
    color: #fff !important;
}

.ivu-btn-text {
    color: #515a6e;
    background-color: transparent;
    border-color: transparent;
}

.ivu-btn-text:hover {
    background-color: rgba(255, 255, 255, .2) !important;
}

.ivu-layout.ivu-layout-has-sider {
    height: 100%;
}

.ivu-layout-sider {
    background: #fff;
    transition: none;
}

.ivu-layout-header {
    height: /*var(--default-header-height)*/70px;
    line-height: /*var(--default-header-height)*/70px;
}

.small-layout-container .ivu-layout-header {
    height: /*var(--small-header-height)*/60px;
    line-height: /*var(--small-header-height)*/60px;
}

.ivu-menu {
    height: calc(100% - 100px/*var(--default-logo-height)*/);
    overflow-y: auto;
    width: /*var(--default-menu-width)*/260px !important;
}

.small-layout-container .ivu-menu {
    height: calc(100% - 80px/*var(--small-logo-height)*/);
    width: /*var(--small-menu-width)*/210px !important;
}

.ivu-menu-item {
    white-space: nowrap;
}

.ivu-menu-submenu {
    white-space: nowrap;
}

.ivu-menu-submenu .ivu-menu-submenu-title {
    white-space: nowrap;
}


.admin-layout-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.admin-layout-container .layout {
    background: #f5f7f9;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.admin-layout-container .layout .sidebar {
    background: #fff;
    position: fixed;
    height: 100%;
    width: /*var(--default-menu-width)*/260px !important;
    min-width: /*var(--default-menu-width)*/260px !important;
    max-width: /*var(--default-menu-width)*/260px !important;
    flex:0 0 /*var(--default-menu-width)*/260px !important;
}

.admin-layout-container .layout .sidebar.ivu-layout-sider-collapsed {
    width: /*var(--small-logo-height)*/80px !important;
    min-width: /*var(--small-logo-height)*/80px !important;
    max-width: /*var(--small-logo-height)*/80px !important;
    flex:0 0 /*var(--default-menu-width)*/80px !important;
}

.small-layout-container .layout .sidebar {
    width: /*var(--small-menu-width)*/210px !important;
    min-width: /*var(--small-menu-width)*/210px !important;
    max-width: /*var(--small-menu-width)*/210px !important;
    flex:0 0 /*var(--default-menu-width)*/210px !important;
}

.small-layout-container .layout .sidebar.ivu-layout-sider-collapsed {
    width: /*var(--small-logo-height)*/80px !important;
    min-width: /*var(--small-logo-height)*/80px !important;
    max-width: /*var(--small-logo-height)*/80px !important;
    flex:0 0 /*var(--default-menu-width)*/80px !important;
}

.admin-layout-container .layout .sidebar .ivu-layout-sider-trigger {
    width: 0 !important;
}

.admin-layout-container .layout .sidebar .ivu-layout-sider-trigger i{
    display: none;
}

.sidebar-show{
    margin-left: /*var(--default-menu-width)*/260px;
}
.small-layout-container .sidebar-show{
    margin-left: /*var(--small-menu-width)*/210px;
}
.sidebar-hidden{
    margin-left: 80px;
}
.admin-layout-container .layout .dropdown-wrap {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #05264c;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    z-index: 11;
}

.admin-layout-container .layout .dropdown-wrap .dw-content {
    height: calc(100% - 80px/*var(--small-logo-height)*/);
    overflow: auto;
}

.admin-layout-container .layout .dropdown-wrap .dw-content .dd-btn {
    width: 83px;
    margin-left: -5px;
    padding: 10px 0;
    height: auto;
}

.admin-layout-container .layout .logo {
    width: auto;
    height: /*var(--default-logo-height)*/100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    position: relative;
    padding-left: 10px;
    background: #05264c;
}

.small-layout-container .layout .logo {
    height: /*var(--small-logo-height)*/80px;
}

.admin-layout-container .layout .logo .logo-avatar {
    background-color: rgba(0, 0, 0, 0);
    width: 57px;
    height: 50px
}

.small-layout-container .layout .logo .logo-avatar {
    width: 45px;
    height: 40px
}

.admin-layout-container .layout .logo .logo-saiqu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.admin-layout-container .layout .logo .logo-saiqu .logo-text {
    margin-left: 6px;
    color: white;
    font-size: 22px;
    text-align: left;
}

.small-layout-container .layout .logo .logo-saiqu .logo-text {
    font-size: 18px;
    font-weight: bold;
}

.admin-layout-container .layout-header-bar {
    background: #fff;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 20;
    width: 100%;
}

.admin-layout-container .layout-header-bar .header-wapper {
    display: flex;
    align-tems: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    background: white;
    color: #05264c;
    height: /*var(--default-header-height)*/70px;
}

.small-layout-container .layout-header-bar .header-wapper {
    height: /*var(--small-header-height)*/60px;
}

.admin-layout-container .layout-header-bar .header-wapper .header-left {
    display: flex;
    align-items: center;
    width: calc(100% - 170px);
}

.admin-layout-container .layout-header-bar .header-wapper .header-left .header-title {
    font-size: 18px;
    font-weight: bold
}

.admin-layout-container .layout-header-bar .header-wapper .header-right {
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}
.admin-layout-container .layout-header-bar .header-wapper .header-right .header-right-item {
    padding: 0 10px;
    cursor: pointer;
}

.admin-layout-container .layout-header-bar .header-wapper .header-right .header-right-item:hover {
    background-color: #f6f6f6;
}

.admin-layout-container .layout-header-bar .header-wapper .header-right .btn-blue {
    color: #fff;
    background-color: #05264c;
    font-size: 15px;
}
.admin-layout-container .layout-header-bar .header-wapper .header-right .btn-blue:hover {
    color: #fff;
    background-color: #05264c;
}


.admin-layout-container .layout-logo-left {
    width: 90%;
    height: 30px;
    background: #5b6270;
    border-radius: 3px;
    margin: 15px auto;
}

.admin-layout-container .menu-icon {
    cursor: pointer;
    transition: all .3s;
    margin: 0 20px 0;
}

.admin-layout-container .rotate-icon {
    transform: rotate(-90deg);
}

.admin-layout-container .menu-item {
    position: absolute;
    overflow: auto;
    background-color: #05264c;
    color: #a5bad2;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.admin-layout-container .menu-item:after {
    width: 0;
}

.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
    color: #a5bad2;
    background: #2c4056;
}

.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu):hover {
    color: white;
}

.ivu-menu-vertical .ivu-menu-item:hover, .ivu-menu-vertical .ivu-menu-submenu-title:hover {
    color: white;
}
.admin-layout-container .menu-item span {
    display: inline-block;
    white-space: nowrap;
    vertical-align: bottom;
    font-size: 16px;
    transition: width .2s ease .2s;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
}
.small-layout-container .menu-item span {
    font-size: 15px;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu):after {
     background: #2c4056;
 }
.admin-layout-container .menu-item i {
    transform: translateX(0px);
    transition: font-size .2s ease, transform .2s ease;
    vertical-align: middle;
    font-size: 16px;
}

.ivu-menu-vertical .ivu-menu-submenu-title-icon {
    float: right;
    position: relative;
    top: 4px;
    right: 0;
}

.admin-layout-container .collapsed-menu span {
    width: 0;
    transition: width .2s ease;
}

.admin-layout-container .collapsed-menu i {
    transform: translateX(5px);
    transition: font-size .2s ease .2s, transform .2s ease .2s;
    vertical-align: middle;
    font-size: 22px;
}

.admin-layout-container .main-content {
    width: 100%;
    position: relative;
    overflow: auto;
    padding: 10px 10px 10px 20px;
    background: #f5f7f9;
}

.master-page-container {
    background-color: #fff;
    position: relative;
    overflow: auto;
    height: 100%;
    padding: 10px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

/* 颜色 */
.bg-success {
    background-color: #19be6b;
}

.bg-info {
    background-color: #2db7f5;
}

.bg-error {
    background-color: #ed4014;
}

.bg-warning {
    background-color: #ff9900;
}

.bg-primary {
    background-color: #2b85e4;
}

/* 首页 begin*/
.dashboard-card .card-icon {
    text-align: center;
    padding: 10px 0
}

.dashboard-card .card-text {
    color: white;
    font-size: 18px;
    padding-top: 10px
}
.header-search{
    width: 250px;
}

.no-data {
    text-align: center;
    padding-top: 100px
}
.no-data-text {
    font-size: 20px
}
/* 首页 end*/

/* 列表页面通用 begin */
.search-panel {
    overflow: hidden;
    padding: 10px;
}

.search-panel .panel-left {
    float: left;
}

.search-panel .panel-right {
    float: right;
}

.page-panel {
    margin-top: 10px;
}

/* 列表页面通用 end */

/* card */
.nav-card{
    border: none;
    box-shadow: 0 2px 2px 0 rgba(16, 116, 231, 0.14), 0 1px 5px 0 rgba(16, 116, 231, 0.12), 0 3px 1px -2px rgba(16, 116, 231, 0.2);
    margin: 10px 0;
    padding: 5px;
    cursor: pointer;
}
.ivu-card-body{
    padding: 10px;
}
.small-layout-container .ivu-card-body {
    padding: 8px;
}
.ivu-card:hover {
    box-shadow: 0 8px 17px 0 rgba(3, 102, 214, 0.2), 0 6px 20px 0 rgba(3, 102, 214, 0.19);
    border-color: #eee;
}
.card-cat {
    font-size: 17px;
    padding: 8px;
}

.small-layout-container .card-cat {
    font-size: 16px;
    padding: 6px;
}

.card-title{
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.small-layout-container .card-title {
    font-size: 14px;
}

.card-content{
    color: #0366d6;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.small-layout-container .card-content {
    font-size: 13px;
}

.blink-box {
    animation: glow 800ms ease-out infinite alternate;
}

@keyframes glow {
    0% {
        border-color: red;
        box-shadow: 0 0 5px rgba(255, 0, 0, .2), inset 0 0 5px rgba(255, 0, 0, .1), 0 0 0 red;
    }
    100% {
        border-color: red;
        box-shadow: 0 0 20px rgba(255, 0, 0, .6), inset 0 0 10px rgba(255, 0, 0, .4), 0 0 0 red;
    }
}


.card-sm {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

@media (min-width: 768px) {
    .card-md {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .small-layout-container .card-md {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}


@media (min-width: 1200px) {
    .card-xl {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .small-layout-container .card-xl {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1680px) {
    .card-xxl {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .small-layout-container .card-xl {
        -ms-flex: 0 0 16.666666%;
        flex: 0 0 16.666666%;
        max-width: 16.666666%;
    }
}

/* 整个滚动条 */
::-webkit-scrollbar {
    /* 对应纵向滚动条的宽度 */
    width: 6px;
    /* 对应横向滚动条的宽度 */
    height: 6px;
}

/* 滚动条上的滚动滑块 */
::-webkit-scrollbar-thumb {
    background-color: #515a6e;
    border-radius: 3px;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
    border-radius: 3px;
}
