<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="card-modal">
    <style type="text/css">
        .form-icon-loading {
            margin-top: -24px;
            margin-bottom: 0;
        }

        .form-icon-select-panel {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .form-icon-select-show .ivu-badge {
            margin-top: 10px;
            margin-right: 10px;
        }

        .form-icon-text-panel {
            display: flex;
        }

        .form-icon-text-input {
            width: 120px;
            bottom: -1px;
        }

        .form-icon-text-input input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: none;
        }

        .form-icon-text-color-pick .ivu-color-picker-input {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    </style>
    <div th:replace="components/card-icon-select::card-icon-select"></div>
    <template id="card-modal">
        <Modal v-model="show"
               :width="520"
               :title="edit?'编辑卡片':'添加卡片'"
               :loading="loading"
               :mask-closable="false"
               ok-text="保存"
               @on-ok="save(true)">
            <i-form ref="tableForm" :model="editItem" label-width="100"
                    :rules="editItemRules" @submit.native.prevent>
                <form-item label="卡片类型" prop="type">
                    <radio-group v-model="editItem.type">
                        <Radio v-for="item in types" :disabled="edit&&editItem.type!==item.id" :label="item.id"
                               :key="item.id">{{item.name}}
                        </Radio>
                    </radio-group>
                </form-item>
                <form-item label="所属分类" prop="category">
                    <i-select v-model="editItem.category">
                        <i-option v-for="item in categorys" :key="item.id" :value="item.id"
                                  :label="item.name"></i-option>
                    </i-select>
                </form-item>
                <form-item label="标题" prop="title">
                    <i-input v-model.trim="editItem.title"
                             clearable
                             maxlength="100"
                             placeholder="标题"></i-input>
                </form-item>
                <form-item label="内容" prop="content">
                    <i-input type="textarea"
                             maxlength="200"
                             :autosize="{minRows: 4,maxRows: 15}"
                             show-word-limit
                             v-model.trim="editItem.content" placeholder="内容"></i-input>
                </form-item>
                <form-item v-if="editItem.type!=='zip'"
                           label="链接"
                           :rules="[{required:urlRequired(editItem.type), message:'链接不能为空', trigger:'change' }]"
                           prop="url">
                    <i-input v-model.trim="editItem.url"
                             clearable
                             maxlength="200"
                             placeholder="链接"
                             @on-blur="getFavicons"></i-input>
                </form-item>
                <form-item v-else label="原型文件"
                           prop="zip">
                    <Upload action="/api/v1/upload/modules"
                            accept="application/zip"
                            :default-file-list="zipFileList"
                            :on-success="uploadZipSuccess">
                        <i-button icon="ios-cloud-upload-outline">上传</i-button>
                    </Upload>
                </form-item>
                <form-item v-if="showFaviconLoading" class="form-icon-loading">
                    <i-button loading type="text">正在尝试获取该地址的图标</i-button>
                </form-item>
                <form-item label="图标" prop="icon">
                    <div>
                        <div class="form-icon-select-panel">
                            <Upload ref="uploadCtl" action="/api/v1/upload/images"
                                    :show-upload-list="false"
                                    accept="image/x-icon,image/png,image/jpeg,image/jpg,image/gif,image/bmp"
                                    :on-success="uploadSuccess">
                                <i-button icon="ios-cloud-upload-outline">上传</i-button>
                            </Upload>
                            <card-icon-select @select="iconSelect"></card-icon-select>
                            <div class="form-icon-text-panel">
                                <i-input class="form-icon-text-input"
                                         v-model.trim="textIcon.text"
                                         @on-change="setTextIcon"
                                         maxlength="8"
                                         placeholder="图标文字"></i-input>
                                <color-picker @on-change="textIconColorChange"
                                              class="form-icon-text-color-pick"
                                              v-model="textIcon.color"
                                              recommend></color-picker>
                            </div>
                        </div>
                        <div class="form-icon-select-show">
                            <Badge v-for="item in icons" :key="item"
                                   @click.native="selectIcons(item)">
                                <Avatar size="large" v-if="item.src" :src="item.src"></Avatar>
                                <Avatar size="large" v-else :style="{background: item.color}">{{item.text}}</Avatar>
                                <Icon type="md-checkmark-circle" slot="count" v-if="item.checked" color="#19be6b"
                                      size="16"/>
                            </Badge>
                            <div v-if="iconErrTip" class="ivu-form-item-error-tip">图标不能为空，请点击选择一个图标</div>
                        </div>
                    </div>
                </form-item>
            </i-form>

            <div v-if="!edit" slot="footer">
                <i-button type="text" @click="closeModal">取消</i-button>
                <i-button type="primary" @click="save(true)">保存</i-button>
                <i-button type="info" @click="save(false)">保存并继续添加</i-button>
            </div>
        </Modal>
    </template>
    <script type="text/javascript">
        Vue.component('card-modal', {
            template: '#card-modal',
            data() {
                return {
                    show: false,
                    edit: false,
                    newZip: false,
                    loading: true,
                    showFaviconLoading: false,
                    iconErrTip: false,
                    textIcon: {
                        color: '',
                        text: ''
                    },
                    types: [
                        {
                            id: 'default',
                            name: '普通'
                        },
                        {
                            id: 'zip',
                            name: '原型'
                        },
                        {
                            id: 'qrcode',
                            name: '二维码'
                        }
                    ],
                    categorys: [],
                    icons: [],
                    zipFileList: [],
                    editItem: {
                        type: 'default',
                        category: '',
                        icon: null,
                        zip: null,
                        title: '',
                        content: '',
                        url: ''
                    },
                    editItemRules: {
                        category: [
                            {required: true, message: '分类名称不能为空'}
                        ],
                        title: [
                            {required: true, message: '分类名称不能为空'}
                        ],
                        content: [
                            {required: true, message: '内容不能为空'}
                        ],
                        zip: [
                            {required: true, message: '必须上传原型文件'}
                        ]
                    }
                }
            },
            computed: {
                urlRequired() {
                    return val => val === 'qrcode';
                }
            },
            mounted() {
                this.getCategory();
            },
            methods: {
                closeModal() {
                    this.show = false;
                },
                open(category, item) {
                    this.icons = [];
                    this.iconErrTip = false;
                    this.newZip = false;
                    this.$refs.tableForm.resetFields();
                    this.$refs.uploadCtl.clearFiles();
                    this.show = true;
                    this.edit = Boolean(item);
                    if (this.edit) {
                        this.editItem = JSON.parse(JSON.stringify(item));
                        this.editItem.icon.checked = true;
                        this.icons.push(this.editItem.icon);
                        if (this.editItem.icon.text) {
                            this.textIcon = {...this.editItem.icon};
                        } else {
                            this.textIcon = {
                                color: colorUtils.getColor(),
                                text: ''
                            };
                        }
                        this.zipFileList = [item.zip];
                    } else {
                        this.editItem = {
                            type: 'default',
                            category: category,
                            icon: null,
                            zip: null,
                            title: '',
                            content: '',
                            url: ''
                        };
                        this.textIcon = {
                            color: colorUtils.getColor(),
                            text: ''
                        };
                        this.zipFileList = [];
                    }
                },
                getCategory() {
                    this.$http.get('/api/v1/category')
                        .then(res => {
                            this.categorys = res.data;
                        })
                        .catch(err => {
                            console.error(err);
                            this.$notice.err(err.response.data);
                        });
                },
                textIconColorChange() {
                    let curIcon = this.icons.find(icon => Boolean(icon.color));
                    if (curIcon && this.textIcon.color) {
                        curIcon.color = this.textIcon.color;
                    }
                },
                uploadSuccess(response) {
                    const item = {src: response, checked: true};
                    this.icons.push(item);
                    this.selectIcons(item);
                },
                iconSelect(src) {
                    const item = {src: src, checked: true};
                    this.icons.push(item);
                    this.selectIcons(item);
                },
                uploadZipSuccess(response, file) {
                    this.newZip = true;
                    this.editItem.zip = {
                        name: file.name,
                        path: response
                    };
                    this.zipFileList = [this.editItem.zip];
                },
                getFavicons() {
                    if (!(this.editItem.url && this.editItem.url.startsWith('http'))) {
                        return;
                    }
                    this.showFaviconLoading = true;
                    this.$http.get('/api/v1/card/icon', {params: {url: this.editItem.url}})
                        .then(res => {
                            if (!(Array.isArray(res.data) && res.data.length > 0)) {
                                return;
                            }
                            for (let i = 0; i < res.data.length; i++) {
                                const item = {src: res.data[i], checked: false};
                                this.icons.push(item);
                                if (i === (res.data.length - 1)) {
                                    this.selectIcons(item);
                                }
                            }
                        })
                        .catch(err => {
                            console.error(err);
                            this.$notice.err(err.response.data);
                        })
                        .finally(() => {
                            this.showFaviconLoading = false;
                        });
                },
                setTextIcon() {
                    if (!this.textIcon.text) {
                        this.icons = this.icons.filter(icon => !Boolean(icon.text));
                        return;
                    }
                    let curIcon = this.icons.find(icon => Boolean(icon.text));
                    if (curIcon) {
                        curIcon.text = this.textIcon.text;
                        this.selectIcons(curIcon);
                        return;
                    }
                    curIcon = {
                        ...this.textIcon,
                        checked: true
                    };
                    this.icons.push(curIcon);
                    this.selectIcons(curIcon);
                },
                selectIcons(item) {
                    this.icons.forEach(it => it.checked = false);
                    item.checked = true;
                    this.editItem.icon = {...item};
                    this.iconErrTip = false;
                },
                save(closeModal) {
                    if (!this.editItem.icon) {
                        this.iconErrTip = true;
                    }
                    this.$refs.tableForm.validate(valid => {
                        if (valid && this.editItem.icon) {
                            if (this.editItem.type === 'zip' && this.newZip) {
                                this.$tools.showLoading('原型文件解压时间较长，请耐心等待...');
                            }
                            this.$http.save('/api/v1/card', {...this.editItem})
                                .then(() => {
                                    this.$notice.suc('保存成功');
                                    if (closeModal) {
                                        this.show = false;
                                    }
                                    this.$emit('refresh', this.editItem.category);
                                })
                                .catch(err => {
                                    console.error(err);
                                    this.$notice.err(err.response && err.response.data || '保存失败');
                                    this.cancel();
                                })
                                .finally(() => {
                                    this.$Spin.hide();
                                });
                        } else {
                            this.cancel();
                        }
                    });
                },
                cancel() {
                    this.loading = false;
                    this.$nextTick(() => {
                        this.loading = true
                    })
                }
            }
        })
    </script>
</div>
</html>
