<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="card-modal">
    <div th:replace="components/card-icon-select::card-icon-select"></div>
    <template id="card-modal">
        <Modal v-model="show"
               :width="520"
               :title="edit?'编辑卡片':'添加卡片'"
               :loading="loading"
               :mask-closable="false"
               @on-ok="save">
            <i-form ref="tableForm" :model="editItem" label-width="100" :rules="editItemRules" @submit.native.prevent>
                <form-item label="卡片类型" prop="type">
                    <radio-group v-model="editItem.type">
                        <Radio v-for="item in types" :disabled="edit&&editItem.type!==item.id" :label="item.id"
                               :key="item.id">{{item.name}}
                        </Radio>
                    </radio-group>
                </form-item>
                <form-item label="所属分类" prop="category">
                    <i-select v-model="editItem.category">
                        <i-option v-for="item in categorys" :key="item.id" :value="item.id"
                                  :label="item.name"></i-option>
                    </i-select>
                </form-item>
                <form-item label="标题" prop="title">
                    <i-input v-model.trim="editItem.title" placeholder="标题" @on-blur="getTextIcon"></i-input>
                </form-item>
                <form-item label="内容" prop="content">
                    <i-input type="textarea"
                             maxlength="200"
                             :autosize="{minRows: 4,maxRows: 15}"
                             show-word-limit
                             v-model.trim="editItem.content" placeholder="内容"></i-input>
                </form-item>
                <form-item v-if="editItem.type!=='zip'"
                           label="链接"
                           :rules="[{required:urlRequired(editItem.type), message:'链接不能为空', trigger:'change' }]"
                           prop="url">
                    <i-input v-model.trim="editItem.url" placeholder="链接" @on-blur="getFavicons"></i-input>
                </form-item>
                <form-item v-else label="原型文件"
                           prop="zip">
                    <Upload action="/api/v1/upload/modules"
                            accept="application/zip"
                            :default-file-list="zipFileList"
                            :on-success="uploadZipSuccess">
                        <i-button icon="ios-cloud-upload-outline">上传</i-button>
                    </Upload>
                </form-item>
                <form-item label="图标" prop="icon">
                    <div>
                        <div style="overflow: hidden;">
                            <Upload ref="uploadCtl" action="/api/v1/upload/images"
                                    style="float: left;"
                                    :show-upload-list="false"
                                    accept="image/x-icon,image/png,image/jpeg,image/jpg,image/gif,image/bmp"
                                    :on-success="uploadSuccess">
                                <i-button icon="ios-cloud-upload-outline">上传</i-button>
                            </Upload>
                            <card-icon-select style="float: left; margin-left: 10px;"
                                              @select="iconSelect"></card-icon-select>
                            <color-picker @on-change="colorChange"
                                          style="float: left;
                                          margin-left: 10px;"
                                          v-model="color"
                                          recommend></color-picker>
                        </div>
                        <div style="margin-top: 10px">
                            <Badge style="margin-left: 10px;" v-for="item in icons" :key="item"
                                   @click.native="selectIcons(item)">
                                <Avatar size="large" v-if="item.src" :src="item.src"></Avatar>
                                <Avatar size="large" v-else :style="{background: item.color}">{{item.text}}</Avatar>
                                <Icon type="md-checkmark-circle" slot="count" v-if="item.checked" color="#19be6b"
                                      size="16"/>
                            </Badge>
                            <div v-if="iconErrTip" class="ivu-form-item-error-tip">图标不能为空，请点击选择一个图标</div>
                        </div>
                    </div>
                </form-item>
            </i-form>
        </Modal>
    </template>
    <script type="text/javascript">
        Vue.component('card-modal', {
            template: '#card-modal',
            data() {
                return {
                    show: false,
                    edit: false,
                    newZip: false,
                    loading: true,
                    iconErrTip: false,
                    color: '',
                    types: [
                        {
                            id: 'default',
                            name: '普通'
                        },
                        {
                            id: 'zip',
                            name: '原型'
                        },
                        {
                            id: 'qrcode',
                            name: '二维码'
                        }
                    ],
                    categorys: [],
                    icons: [],
                    zipFileList: [],
                    editItem: {
                        type: 'default',
                        category: '',
                        icon: null,
                        zip: null,
                        title: '',
                        content: '',
                        url: ''
                    },
                    editItemRules: {
                        category: [
                            {required: true, message: '分类名称不能为空'}
                        ],
                        title: [
                            {required: true, message: '分类名称不能为空'}
                        ],
                        content: [
                            {required: true, message: '内容不能为空'}
                        ],
                        zip: [
                            {required: true, message: '必须上传原型文件'}
                        ]
                    }
                }
            },
            computed: {
                urlRequired() {
                    return val => val === 'qrcode';
                }
            },
            mounted() {
                this.getCategory();
            },
            methods: {
                open(category, item) {
                    this.icons = [];
                    this.iconErrTip = false;
                    this.newZip = false;
                    this.$refs.tableForm.resetFields();
                    this.$refs.uploadCtl.clearFiles();
                    this.show = true;
                    this.edit = Boolean(item);
                    if (this.edit) {
                        this.editItem = {...item};
                        this.editItem.icon.checked = true;
                        this.icons.push(this.editItem.icon);
                        this.getTextIcon();
                        this.zipFileList = [item.zip];
                    } else {
                        this.editItem = {
                            type: 'default',
                            category: category,
                            icon: null,
                            zip: null,
                            title: '',
                            content: '',
                            url: ''
                        };
                        this.zipFileList = [];
                    }
                },
                getCategory() {
                    this.$http.get('/api/v1/category')
                        .then(res => {
                            this.categorys = res.data;
                        })
                        .catch(err => {
                            console.error(err);
                            this.$notice.err(err.response.data);
                        });
                },
                colorChange() {
                    for (const icon of this.icons) {
                        if (icon.color) {
                            icon.color = this.color;
                        }
                    }
                },
                uploadSuccess(response) {
                    this.icons.push({src: response, checked: false});
                },
                iconSelect(src) {
                    this.icons.push({src: src, checked: false});
                },
                uploadZipSuccess(response, file) {
                    this.newZip = true;
                    this.editItem.zip = {
                        name: file.name,
                        path: response
                    };
                    this.zipFileList = [this.editItem.zip];
                },
                getFavicons() {
                    if (!(this.editItem.url && this.editItem.url.startsWith('http'))) {
                        return;
                    }
                    this.$tools.showLoading('正在尝试获取该地址的图标');
                    this.$http.get('/api/v1/card/icon', {params: {url: this.editItem.url}})
                        .then(res => {
                            res.data.forEach(path => this.icons.push({src: path, checked: false}));
                        })
                        .catch(err => {
                            console.error(err);
                            this.$notice.err(err.response.data);
                        })
                        .finally(() => {
                            this.$Spin.hide();
                        });
                },
                getTextIcon() {
                    if (!this.editItem.title) {
                        return;
                    }
                    const color = colorUtils.getColor();
                    this.icons.push({
                        text: this.editItem.title.substring(0, 2),
                        color: color,
                        checked: false
                    });
                    this.icons.push({
                        text: this.editItem.title.substring(0, 1),
                        color: color,
                        checked: false
                    });
                    if (!this.color) {
                        const firstColor = this.icons.find(icon => Boolean(icon.color));
                        this.color = firstColor ? firstColor.color : '';
                    }
                },
                selectIcons(item) {
                    this.icons.forEach(it => it.checked = false);
                    item.checked = true;
                    this.editItem.icon = {...item};
                    this.iconErrTip = false;
                },
                save() {
                    setTimeout(() => {
                        if (!this.editItem.icon) {
                            this.iconErrTip = true;
                        }
                    }, 1);
                    this.$refs.tableForm.validate(valid => {
                        if (valid && this.editItem.icon) {
                            if (this.editItem.type === 'zip' && this.newZip) {
                                this.$tools.showLoading('原型文件解压时间较长，请耐心等待...');
                            }
                            this.$http.post('/api/v1/card', {...this.editItem})
                                .then(() => {
                                    this.$notice.suc('保存成功');
                                    this.show = false;
                                    this.$emit('refresh', this.editItem.category);
                                })
                                .catch(err => {
                                    console.log(err);
                                    this.$notice.err(err.response && err.response.data || '保存失败');
                                    this.cancel();
                                })
                                .finally(() => {
                                    this.$Spin.hide();
                                });
                        } else {
                            this.cancel();
                        }
                    });
                },
                cancel() {
                    this.loading = false;
                    this.$nextTick(() => {
                        this.loading = true
                    })
                }
            }
        })
    </script>
</div>
</html>
