<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="category-modal">
    <div th:replace="components/com-icon-select::com-icon-select"></div>
    <template id="category-modal">
        <Modal v-model="show"
               :width="482"
               :title="edit?'编辑分类':'添加分类'"
               :loading="loading"
               :mask-closable="false"
               ok-text="保存"
               @on-ok="save">
            <i-form ref="tableForm" :model="editItem" label-width="100" :rules="editItemRules" @submit.native.prevent>
                <form-item label="分类名称" prop="name">
                    <i-input v-model.trim="editItem.name"
                             clearable
                             maxlength="20"
                             placeholder="名称"></i-input>
                </form-item>
                <form-item label="图标" prop="icon">
                    <com-icon-select v-model="editItem.icon"></com-icon-select>
                </form-item>
            </i-form>
        </Modal>
    </template>
    <script type="text/javascript">
        Vue.component('category-modal', {
            template: '#category-modal',
            data() {
                return {
                    show: false,
                    edit: false,
                    loading: true,
                    editItem: {
                        icon: '',
                        name: ''
                    },
                    editItemRules: {
                        name: [
                            {required: true, message: '分类名称不能为空'}
                        ]
                    }
                }
            },
            methods: {
                open(item) {
                    this.$refs.tableForm.resetFields();
                    this.show = true;
                    this.edit = Boolean(item);
                    if (this.edit) {
                        this.editItem = {...item};
                    } else {
                        this.editItem.id = '';
                    }
                },
                save() {
                    this.$refs.tableForm.validate(valid => {
                        if (valid) {
                            this.$http.save('/api/v1/category', {...this.editItem})
                                .then(() => {
                                    this.$notice.suc('保存成功');
                                    this.show = false;
                                    this.$emit('refresh');
                                })
                                .catch(err => {
                                    console.error(err);
                                    this.$notice.err(err && err.response && err.response.data);
                                    this.cancel();
                                });
                        } else {
                            this.cancel();
                        }
                    });
                },
                cancel() {
                    this.loading = false;
                    this.$nextTick(() => {
                        this.loading = true;
                    })
                }
            }
        })
    </script>
</div>
</html>
