<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="notice-modal">
    <link th:href="@{/assets/lib/wangeditor/style.css}" rel="stylesheet">
    <style type="text/css">
        #editor—wrapper {
            border: 1px solid #ccc;
            z-index: 100; /* 按需定义 */
        }
        #toolbar-container { border-bottom: 1px solid #ccc; }
        #editor-container { height: 100px; }
    </style>
    <template id="notice-modal">
        <Modal v-model="show"
               :width="860"
               :title="edit?'编辑':'添加'"
               :loading="loading"
               :mask-closable="false"
               ok-text="保存"
               @on-ok="save">
            <i-form ref="tableForm" :model="editItem"
                    label-width="100"
                    :rules="editItemRules"
                    @submit.native.prevent>
                <form-item label="公告内容" prop="content">
                    <div id="editor—wrapper">
                        <div id="toolbar-container"><!-- 工具栏 --></div>
                        <div id="editor-container"><!-- 编辑器 --></div>
                    </div>
                </form-item>
                <form-item label="结束时间" prop="endTime">
                    <div style="display: flex;align-items: center">
                        <date-picker type="datetime"
                                     clearable
                                     v-model.trim="editItem.endTime"
                                     format="yyyy-MM-dd HH:mm"
                                     style="flex: auto"
                                     placeholder="结束时间"></date-picker>
                        <Tooltip transfer
                                 max-width="320"
                                 content="配置后首页显示的公告内容将出现倒计时">
                            <Icon style="margin-left: 15px;vertical-align: -0.3em;"
                                  type="ios-information-circle-outline"
                                  color="#2d8cf0" size="25"/>
                        </Tooltip>
                    </div>
                </form-item>
            </i-form>
        </Modal>
    </template>
    <script th:src="@{/assets/lib/wangeditor/index.js}"></script>
    <script type="text/javascript">
        const { createEditor, createToolbar } = window.wangEditor;
        let globalEditor;
        Vue.component('notice-modal', {
            template: '#notice-modal',
            data() {
                return {
                    show: false,
                    edit: false,
                    loading: true,
                    editItem: {
                        endTime: '',
                        content: ''
                    },
                    editItemRules: {
                        content: [
                            {required: true, message: '公告内容不能为空'},
                            {
                                validator: (rule, value, callback) => {
                                    if (globalEditor.isEmpty()) {
                                        callback(new Error('公告内容不能为空'));
                                        return;
                                    }
                                    callback();
                                },
                                trigger: 'blur'
                            }
                        ],
                    }
                }
            },
            mounted(){
                this.initEditor()
            },
            methods: {
                initEditor() {
                    const _this = this;
                    const editorConfig = {
                        placeholder: '请输入公告内容...',
                        maxLength: 50,
                        onChange(editor) {
                            _this.editItem.content = editor.getHtml();
                        }
                    };

                    const editor = createEditor({
                        selector: '#editor-container',
                        html: '',
                        config: editorConfig,
                        mode: 'simple', // or 'simple'
                    });
                    createToolbar({
                        editor,
                        selector: '#toolbar-container',
                        config: {
                            toolbarKeys: [
                                'headerSelect',
                                '|',
                                'bold',
                                'underline',
                                'italic',
                                'through',
                                'color',
                                'bgColor',
                                'clearStyle',
                                '|',
                                'fontSize',
                                'fontFamily',
                                '|',
                                'emotion',
                                'undo',
                                'redo',
                            ]
                        },
                        //mode: 'default', // or 'simple'
                    });
                    globalEditor = editor;
                },
                open(item) {
                    this.$refs.tableForm.resetFields();
                    this.show = true;
                    this.edit = Boolean(item);
                    if (this.edit) {
                        this.editItem = {...item};
                        globalEditor.setHtml(this.editItem.content);
                    } else {
                        this.editItem.id = '';
                        globalEditor.clear();
                    }
                },
                save() {
                    this.$refs.tableForm.validate(valid => {
                        if (valid) {
                            this.editItem.endTime = this.$tools.formatDate(this.editItem.endTime, 'yyyy-MM-dd HH:mm:ss');
                            this.$http.save('/api/v1/notice', {...this.editItem})
                                .then(() => {
                                    this.$notice.suc('保存成功');
                                    this.show = false;
                                    this.$emit('refresh');
                                })
                                .catch(err => {
                                    console.error(err);
                                    this.$notice.err(err && err.response && err.response.data);
                                    this.cancel();
                                });
                        } else {
                            this.cancel();
                        }
                    });
                },
                cancel() {
                    this.loading = false;
                    this.$nextTick(() => {
                        this.loading = true;
                    })
                }
            }
        })
    </script>
</div>
</html>
