<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="category-valid">
    <div th:replace="modal/category-modal::category-modal"></div>
    <template id="page-category-valid">
        <div>
            <div class="search-panel">
                <div class="panel-left">
                    拖动排序
                    <i-switch size="large" v-model="tableDraggable">
                        <span slot="open">开启</span>
                        <span slot="close">关闭</span>
                    </i-switch>
                </div>
                <div class="panel-right">
                    <i-button type="success"
                              icon="md-add"
                              @click="openModal()">添加</i-button>
                    <i-button type="warning"
                              icon="md-trash"
                              :disabled="!Boolean(selectedIds.length)"
                              @click="batchSetInvalid()">批量移除</i-button>
                </div>
            </div>
            <div class="table-panel">
                <i-table border
                         stripe
                         :columns="table.columns"
                         :data="table.datas"
                         :draggable="tableDraggable"
                         @on-selection-change="selectChange"
                         @on-drag-drop="changeSort">
                    <template slot-scope="{ row, index }" slot="icon-action">
                        <Icon :title="row.icon" :type="row.icon" size="20"></Icon>
                        <span v-text="row.icon"></span>
                    </template>
                    <template slot-scope="{ row, index }" slot="private-action">
                        <i-button v-if="row.privateCard" ghost type="info" size="small" @click="setPrivateCard(row, false)">取消私密
                        </i-button>
                        <i-button v-else type="warning" ghost size="small" @click="setPrivateCard(row, true)">设为私密</i-button>
                    </template>
                    <template slot-scope="{ row, index }" slot="action">
                        <i-button type="primary" size="small" @click="openModal(row)">编辑</i-button>
                        <Poptip confirm transfer
                                title="将移除到历史分类，您确定要移除此项吗？"
                                @on-ok="setInvalid(row.id)">
                            <i-button type="warning" size="small">移除</i-button>
                        </Poptip>
                        <Poptip confirm transfer
                                title="将被永久删除，您确定要删除此项吗？"
                                @on-ok="deleteItem(row.id)">
                            <i-button type="error" size="small">删除</i-button>
                        </Poptip>
                    </template>
                </i-table>
            </div>
            <category-modal ref="categoryModal" @refresh="initList"></category-modal>
        </div>
    </template>
    <script type="text/javascript" th:inline="javascript">
        const loginEnable = /*[[${loginEnable}]]*/ true;
        Vue.component('page-category-valid', {
            template: '#page-category-valid',
            data() {
                return {
                    tableDraggable: false,
                    selectedIds: [],
                    table: {
                        columns: [
                            {
                                type: 'selection',
                                width: 66,
                                align: 'center'
                            }, {
                                title: '序号',
                                type: 'index',
                                width: 66,
                                align: 'center'
                            }, {
                                title: '名称',
                                key: 'name'
                            }, {
                                title: '图标',
                                slot: 'icon-action',
                                key: 'icon'
                            }, {
                                title: '操作',
                                slot: 'action',
                                width: 200,
                                align: 'center'
                            }],
                        datas: []
                    }
                }
            },
            mounted() {
                this.initList();
                if(loginEnable){
                    this.table.columns.splice(4, 0, {
                        title: '私密分类',
                        slot: 'private-action',
                        width: 120,
                        align: 'center'
                    });
                }
            },
            methods: {
                initList() {
                    this.selectedIds = [];
                    this.$http.get(`/api/v1/category`)
                        .then(res => {
                            this.table.datas = res.data;
                        })
                        .catch(err => {
                            console.error(err);
                            this.$notice.err(err.response.data);
                        });
                },
                changeSort(before, after) {
                    this.$http.patch(`/api/v1/category/actions/sort?before=${before}&after=${after}`)
                        .then(() => {
                            this.initList();
                        })
                        .catch(err => {
                            console.error(err);
                            this.$notice.err(err.response.data);
                        });
                },
                deleteItem(id) {
                    this.$http.delete(`/api/v1/category/${id}`)
                        .then(() => {
                            this.$notice.suc('删除成功');
                            this.initList();
                        })
                        .catch(err => {
                            console.error(err);
                            this.$notice.err(err.response.data);
                        });
                },
                openModal(item) {
                    this.$refs.categoryModal.open(item);
                },
                setPrivateCard(row, type) {
                    this.$http.patch(`/api/v1/category/${row.id}/private/${type}`)
                        .then(() => {
                            this.$notice.suc(type ? '已设为私密' : '已取消私密');
                            this.initList();
                        })
                        .catch(err => {
                            console.error(err);
                            this.$notice.err(err.response.data);
                        })
                },
                setInvalid(id) {
                    this.$http.patch(`/api/v1/category/valid/false`, [id])
                        .then(() => {
                            this.$notice.suc('已移除到历史分类');
                            this.initList();
                        })
                        .catch(err => {
                            console.error(err);
                            this.$notice.err(err.response.data);
                        })
                },
                selectChange(items) {
                    this.selectedIds = items.map(item => item.id);
                },
                batchSetInvalid() {
                    if(!this.selectedIds.length){
                        this.$notice.warn('请选择要移除的项');
                        return;
                    }
                    this.$Modal.confirm({
                        title: "批量移除",
                        content: "确定要移除选中的分类到历史分类中吗？",
                        loading: true,
                        onOk: () => {
                            this.$http.patch(`/api/v1/category/valid/false`, this.selectedIds)
                                .then(() => {
                                    this.$notice.suc('已移除到历史分类');
                                    this.initList();
                                })
                                .catch(err => {
                                    console.error(err);
                                    this.$notice.err(err.response.data);
                                })
                                .finally(() => {
                                    this.$Modal.remove();
                                });
                        }
                    });
                }
            }
        })
    </script>
</div>
</html>
