<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="card-icon-select">
    <style type="text/css">
        .card-icon-select .icon-select-panel {
            height: 200px;
            width: 480px;
            overflow-y: scroll;
        }

        .card-icon-select .icon-select-panel .ivu-avatar {
            cursor: pointer;
            margin: 3px;
        }

        .card-icon-select .icon-select-search-panel {
            padding: 5px;
        }
    </style>
    <template id="card-icon-select">
        <Dropdown class="card-icon-select"
                  :visible="visible"
                  trigger="custom"
                  v-clickoutside="closeSelectPanel"
                  v-if="datas.length">
            <i-button @click="openSelectPanel">
                图标选择
                <Icon type="ios-arrow-down"></Icon>
            </i-button>
            <dropdown-menu slot="list">
                <div class="icon-select-search-panel">
                    <i-input placeholder="搜索..." v-model="searchVal" search @on-change="searchHandler"></i-input>
                </div>
                <div class="icon-select-panel">
                    <Avatar :title="item.name"
                            v-for="item in searchVals"
                            :key="item.name"
                            size="large"
                            @click.native="selectIcon(item)"
                            :src="item.path"></Avatar>
                </div>
            </dropdown-menu>
        </Dropdown>
    </template>
    <script type="text/javascript">
        Vue.component('card-icon-select', {
            template: '#card-icon-select',
            data() {
                return {
                    searchVal: '',
                    datas: [],
                    visible: false,
                    searchVals: []
                }
            },
            mounted() {
                this.init();
            },
            methods: {
                openSelectPanel(){
                    this.visible = !this.visible;
                },
                closeSelectPanel(){
                    this.visible = false;
                },
                init() {
                    this.$http.get('/api/v1/card/icons')
                        .then(res => {
                            this.datas = this.searchVals = res.data.map(filename => ({
                                path: `/ext-resources/images/default/${filename}`,
                                name: filename.substring(0, filename.lastIndexOf('.'))
                            }));
                        })
                        .catch(err => {
                            console.error(err);
                            this.$notice.err(err.response.data);
                        })
                },
                selectIcon(item) {
                    this.$emit('select', item.path);
                    this.closeSelectPanel();
                },
                searchHandler() {
                    if (this.searchVal === '') {
                        this.searchVals = this.datas;
                    }
                    this.searchVals = this.datas.filter(item => item.name.includes(this.searchVal));
                }
            }
        })
    </script>
</div>
</html>
