<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>团队网址导航</title>
    <!-- CSS  -->
    <link rel="stylesheet" href="assets/css/materialize-font.css">
    <link href="assets/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="assets/countdown/jquery.countdown.css">
    <link rel="stylesheet" href="assets/css/commons.css">
    <link rel="stylesheet" href="assets/css/index.css">
</head>

<body>
<div id="app">
    <ul class="side-nav fixed">
        <li>
            <a href="index.html" class="logo-main">
                <div class="row">
                    <div class="col s3">
                        <img alt="" class="logo-image" src="assets/images/1180894.png"/>
                    </div>
                    <div class="col s9 logo-text">
                        <span>团队服务导航</span>
                    </div>
                </div>
            </a>
        </li>
        <li><a class="waves-effect active" href="#">常用导航</a></li>
        <li v-for="item in datas"><a class="waves-effect" href="#" v-text="item.title"></a></li>
    </ul>
    <div class="right-main">
        <nav class="z-depth-4 grey lighten-4">
            <div class="nav-wrapper">
                <div class="countdown-text">v2.1.3发布倒计时：</div>
                <div class="countdown-time"></div>
                <ul class="right">
                    <li title="后台管理" class="btn-home"><a href="admin/site.html"><i class="material-icons">home</i></a></li>
                </ul>
            </div>
        </nav>
        <div class="card-row">
            <div class="row" v-for="item in datas">
                <div class="col s12 card-cat"><i class="material-icons">star_border</i><span
                        v-text="item.title"></span></div>
                <div class="col s3" v-for="data in item.items">
                    <div class="card hoverable" @click="clickHandler(data)">
                        <div class="row valign-wrapper">
                            <div class="col s3">
                                <img src="assets/images/151150067014081.jpg" alt="" class="logo-img circle responsive-img">
                            </div>
                            <div class="col s9">
                                <span class="card-title truncate" v-text="data.title"></span>
                                <span class="truncate" v-text="data.url"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/materialize.js"></script>
<script src="assets/countdown/jquery.countdown.js"></script>
<script src="assets/js/vue.js"></script>
<script src="assets/js/axios.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.countdown-time').countdown({
            timestamp: new Date(2021, 8, 30, 0, 0, 0),
            callback: function (days, hours, minutes, seconds) {

            }
        });
    });

    new Vue({
        el: '#app',
        data() {
            return {
                datas: [{
                    title: '常用导航',
                    items: [{
                        title: '开发环境',
                        url: 'http://172.25.16.223:8088/test'
                    }, {
                        title: '稳定环境',
                        url: 'http://172.25.16.223:8088/test'
                    }, {
                        title: '系统管理',
                        url: 'http://172.25.16.223:8088/test'
                    }]
                }, {
                    title: '基础服务',
                    items: [{
                        title: '研发计划',
                        url: 'http://172.25.16.223:8088/test'
                    }, {
                        title: '环境搭建',
                        url: 'http://172.25.16.223:8088/test'
                    }, {
                        title: '重构情况',
                        url: 'http://172.25.16.223:8088/test'
                    }, {
                        title: '权限配置',
                        url: 'http://172.25.16.223:8088/test'
                    }, {
                        title: '问题记录',
                        url: 'http://172.25.16.223:8088/test'
                    }, {
                        title: '对接进度',
                        url: 'http://172.25.16.223:8088/test'
                    }]
                }, {
                    title: '微服务支持平台',
                    items: [{
                        title: 'Eureka',
                        url: 'http://172.25.16.223:8088/test'
                    }, {
                        title: 'Gateway',
                        url: 'http://172.25.16.223:8088/test'
                    }, {
                        title: 'Master',
                        url: 'http://172.25.16.223:8088/test'
                    }, {
                        title: 'Monitor',
                        url: 'http://172.25.16.223:8088/test'
                    }, {
                        title: '镜像仓库',
                        url: 'http://172.25.16.223:8088/test'
                    }, {
                        title: '镜像仓库UI',
                        url: 'http://172.25.16.223:8088/test'
                    }]
                }, {
                    title: '业务支撑服务',
                    items: [{
                        title: 'Eureka',
                        url: 'http://172.25.16.223:8088/test'
                    }, {
                        title: 'Gateway',
                        url: 'http://172.25.16.223:8088/test'
                    }, {
                        title: 'Master',
                        url: 'http://172.25.16.223:8088/test'
                    }, {
                        title: 'Monitor',
                        url: 'http://172.25.16.223:8088/test'
                    }, {
                        title: '镜像仓库',
                        url: 'http://172.25.16.223:8088/test'
                    }, {
                        title: '镜像仓库UI',
                        url: 'http://172.25.16.223:8088/test'
                    }]
                }]
            }
        },
        methods: {
            init() {

            },
            clickHandler(data) {
                Materialize.toast(data.title);
            }
        },
        mounted() {
            this.init();
        }
    });
</script>
</body>
</html>
