<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="card">
    <div th:replace="modal/card-modal::card-modal"></div>
    <template id="page-card">
        <div>
            <div class="search-panel">
                <div class="panel-left" style="width: 500px">
                    <i-form ref="searchForm"
                            inline
                            label-width="80" @submit.native.prevent>
                        <form-item label="所属分类" style="width: 340px">
                            <i-select v-model="category" transfer @on-change="initList">
                                <i-option v-for="item in categorys" :key="item.id" :value="item.id"
                                          :label="item.name"></i-option>
                            </i-select>
                        </form-item>
                        <form-item label="拖动排序">
                            <i-switch size="large" v-model="tableDraggable">
                                <span slot="open">开启</span>
                                <span slot="close">关闭</span>
                            </i-switch>
                        </form-item>
                    </i-form>
                </div>
                <div class="panel-right">
                    <i-button type="success" icon="md-add" @click="openCardModal()">添加</i-button>
                </div>
            </div>
            <div class="table-panel">
                <i-table border stripe :columns="table.columns" :data="table.datas"
                         :draggable="tableDraggable"
                         @on-drag-drop="changeSort">
                    <template slot-scope="{ row, index }" slot="icon-action">
                        <div>
                            <Avatar size="large" v-if="row.icon.src" :src="row.icon.src"></Avatar>
                            <Avatar size="large" v-else :style="{background: row.icon.color}">{{row.icon.text}}</Avatar>
                        </div>
                    </template>
                    <template slot-scope="{ row, index }" slot="action">
                        <i-button type="primary" size="small" @click="openCardModal(row)">编辑</i-button>
                        <Poptip confirm transfer
                                title="您确定要删除此项吗？"
                                @on-ok="deleteItem(row.id)">
                            <i-button type="error" size="small">删除</i-button>
                        </Poptip>
                    </template>
                </i-table>
            </div>
            <card-modal ref="cardModal" @refresh="initList"></card-modal>
        </div>
    </template>
    <script type="text/javascript">
        Vue.component('page-card', {
            template: '#page-card',
            data() {
                return {
                    tableDraggable: false,
                    categorys: [],
                    category: '',
                    table: {
                        columns: [{
                            title: '序号',
                            type: 'index',
                            width: 66,
                            align: 'center'
                        }, {
                            title: '所属分类',
                            key: 'categoryName',
                            tooltip: true
                        }, {
                            title: '图标',
                            key: 'icon',
                            slot: 'icon-action'
                        }, {
                            title: '标题',
                            key: 'title',
                            tooltip: true
                        }, {
                            title: '内容',
                            key: 'content',
                            tooltip: true
                        }, {
                            title: '链接',
                            key: 'url',
                            tooltip: true
                        }, {
                            title: '操作',
                            slot: 'action',
                            width: 160,
                            align: 'center'
                        }],
                        datas: []
                    }
                }
            },
            mounted() {
                this.getCategory();
            },
            methods: {
                initList(catId) {
                    if (catId && catId !== this.category) {
                        this.category = catId;
                    }
                    this.$http.get(`/api/v1/category/${this.category}/card`)
                        .then(res => {
                            this.table.datas = res.data;
                        })
                        .catch(err => {
                            console.error(err);
                            this.$notice.err(err.response.data);
                        })
                },
                getCategory() {
                    this.$http.get('/api/v1/category')
                        .then(res => {
                            this.categorys = res.data;
                            if (this.categorys.length > 0) {
                                this.category = this.categorys[0].id;
                                this.initList();
                            }
                        })
                        .catch(err => {
                            console.error(err);
                            this.$notice.err(err.response.data);
                        });
                },
                deleteItem(id) {
                    this.$http.delete(`/api/v1/card/${id}`)
                        .then(() => {
                            this.$notice.suc('删除成功');
                            this.initList();
                        })
                        .catch(err => {
                            this.$notice.err(err.response.data);
                        });
                },
                changeSort(before, after) {
                    this.$http.patch(`/api/v1/category/${this.category}/card/actions/sort?before=${before}&after=${after}`)
                        .then(() => {
                            this.initList();
                        })
                        .catch(err => {
                            console.error(err);
                            this.$notice.err(err.response.data);
                        });
                },
                openCardModal(item) {
                    this.$refs.cardModal.open(this.category, item);
                }
            }
        })
    </script>
</div>
</html>
