<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="category">
    <div th:replace="pages/category/category-valid::category-valid"></div>
    <div th:replace="pages/category/category-invalid::category-invalid"></div>
    <style type="text/css">
        .ivu-tabs-bar{
            margin-bottom: 3px;
        }
    </style>
    <template id="page-category">
        <Tabs value="valid-tab" @on-click="tabChange">
            <tab-pane label="分类列表" name="valid-tab">
                <page-category-valid ref="validCategory"></page-category-valid>
            </tab-pane>
            <tab-pane label="历史分类" name="invalid-tab">
                <page-category-invalid ref="invalidCategory"></page-category-invalid>
            </tab-pane>
        </Tabs>
    </template>
    <script type="text/javascript">
        Vue.component('page-category', {
            template: '#page-category',
            methods: {
                tabChange(tab){
                    if(tab === 'valid-tab'){
                        this.$refs.validCategory.initList();
                    }else if(tab === 'invalid-tab'){
                        this.$refs.invalidCategory.initList();
                    }
                }
            }
        })
    </script>
</div>
</html>
