<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="notice">
    <div th:replace="modal/notice-modal::notice-modal"></div>
    <template id="page-notice">
        <div>
            <div class="search-panel">
                <div class="panel-left">
                    拖动排序
                    <i-switch size="large" v-model="tableDraggable">
                        <span slot="open">开启</span>
                        <span slot="close">关闭</span>
                    </i-switch>
                </div>
                <div class="panel-right">
                    <i-button type="success"
                              icon="md-add"
                              @click="openModal()">添加</i-button>
                </div>
            </div>
            <div class="table-panel">
                <i-table border
                         stripe
                         :columns="table.columns"
                         :data="table.datas"
                         :draggable="tableDraggable"
                         @on-drag-drop="changeSort">
                    <template slot-scope="{ row, index }" slot="status-action">
                        <Tag v-if="row.status || !Boolean(row.endTime)" color="green">启用中</Tag>
                        <Tag v-else color="red">已停止</Tag>
                    </template>
                    <template slot-scope="{ row, index }" slot="action">
                        <i-button type="primary" size="small" @click="openModal(row)">编辑</i-button>
                        <Poptip confirm transfer
                                title="您确定要删除此项吗？"
                                @on-ok="deleteItem(row.id)">
                            <i-button type="error" size="small">删除</i-button>
                        </Poptip>
                    </template>
                </i-table>
            </div>
            <notice-modal ref="noticeModal" @refresh="initList"></notice-modal>
        </div>
    </template>
    <script type="text/javascript" th:inline="javascript">
        Vue.component('page-notice', {
            template: '#page-notice',
            data() {
                return {
                    tableDraggable: false,
                    table: {
                        columns: [
                            {
                                title: '序号',
                                type: 'index',
                                width: 66,
                                align: 'center'
                            }, {
                                title: '公告内容',
                                key: 'content',
                                type: 'html'
                            }, {
                                title: '结束时间',
                                key: 'endTime'
                            }, {
                                title: '状态',
                                slot: 'status-action',
                                key: 'status'
                            }, {
                                title: '操作',
                                slot: 'action',
                                width: 200,
                                align: 'center'
                            }],
                        datas: []
                    }
                }
            },
            mounted() {
                this.initList();
            },
            methods: {
                initList() {
                    this.$http.get(`/api/v1/notice`)
                        .then(res => {
                            this.table.datas = res.data;
                        })
                        .catch(err => {
                            console.error(err);
                            this.$notice.err(err.response.data);
                        });
                },
                deleteItem(id) {
                    this.$http.delete(`/api/v1/notice/${id}`)
                        .then(() => {
                            this.$notice.suc('删除成功');
                            this.initList();
                        })
                        .catch(err => {
                            console.error(err);
                            this.$notice.err(err.response.data);
                        });
                },
                openModal(item) {
                    this.$refs.noticeModal.open(item);
                },
                changeSort(before, after) {
                    this.$http.patch(`/api/v1/notice/actions/sort?before=${before}&after=${after}`)
                        .then(() => {
                            this.initList();
                        })
                        .catch(err => {
                            console.error(err);
                            this.$notice.err(err.response.data);
                        });
                }
            }
        })
    </script>
</div>
</html>
