<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="settings">
    <style type="text/css">
        .card-style {
            width: 450px;
            margin-left: 20px;
            float: left;
        }
    </style>
    <template id="page-settings">
        <div>
            <Card class="card-style">
                <p slot="title">
                    <Icon type="ios-film-outline"></Icon>
                    配置原型通过Nginx访问
                </p>
                <a href="#" slot="extra" @click="saveNginx()">
                    <Icon type="ios-loop-strong"></Icon>
                    保存
                </a>
                <Alert show-icon>
                    提示
                    <template slot="desc">可以配置通过Nginx来访问原型文件，避免本服务挂了影响原型访问，Nginx配置可参考README.md，开启后访问原型时将跳转Nginx地址</template>
                </Alert>
                <div class="search-panel">
                    <i-switch size="large" v-model="nginx.open" class="panel-left">
                        <span slot="open">开启</span>
                        <span slot="close">关闭</span>
                    </i-switch>
                    <i-input class="panel-left" style="margin-left:20px; width: 315px;"
                             type="text"
                             maxlength="100"
                             clearable
                             v-model.trim="nginx.url"
                             placeholder="请输入Nginx的地址"></i-input>
                </div>
            </Card>
        </div>
    </template>
    <script type="text/javascript">
        Vue.component('page-settings', {
            template: '#page-settings',
            data() {
                return {
                    datas: [],
                    nginx: {
                        open: false,
                        url: ''
                    }
                }
            },
            mounted() {
                this.loadSetting();
            },
            methods: {
                loadSetting(){
                    this.$http.get(`/api/v1/setting`)
                        .then(res => {
                            this.nginx.open = Boolean(res.data.nginxOpen);
                            this.nginx.url = res.data.nginxUrl;
                        })
                        .catch(err => {
                            console.error(err);
                            this.$notice.err(err.response.data);
                        });
                },
                saveNginx(){
                    this.$http.put(`/api/v1/setting/nginx`, {...this.nginx})
                        .then(() => {
                            this.$notice.suc('保存成功');
                        })
                        .catch(err => {
                            console.error(err);
                            this.$notice.err(err.response.data);
                        })
                }
            }
        })
    </script>
</div>
</html>
