<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="settings">
    <div th:replace="components/settings/base-setting::base-setting"></div>
    <div th:replace="components/settings/change-password::change-password"></div>
    <div th:replace="components/settings/card-icon-upload::card-icon-upload"></div>
    <style type="text/css">
        .setting-panel {
            display: flex;
            flex-wrap: wrap;
        }
        .card-style {
            margin: 5px;
            width: 500px;
        }
        .card-icon-upload-panel {
            flex: auto;
        }
        .card-style .btn-save{
            cursor: pointer;
            padding: 5px 10px;
        }
    </style>
    <template id="page-settings">
        <div class="setting-panel">
            <base-setting class="card-style"></base-setting>
            <card-icon-upload class="card-style card-icon-upload-panel"></card-icon-upload>
            <change-password class="card-style" th:if="${loginEnable&&changePwdEnable}"></change-password>
        </div>
    </template>
    <script type="text/javascript">
        Vue.component('page-settings', {
            template: '#page-settings'
        })
    </script>
</div>
</html>
