/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.right-main {
    left: 300px;
    position: fixed;
    width: calc(100% - 300px);
    height: 100%;
    overflow-y: scroll;
}

.card-row {
    padding: 8px;
}

.row {
    margin-bottom: 0;
}

.card {
    padding: 10px;
    color: #0366d6;
    box-shadow: 0 2px 2px 0 rgba(16, 116, 231, 0.14), 0 1px 5px 0 rgba(16, 116, 231, 0.12), 0 3px 1px -2px rgba(16, 116, 231, 0.2);
}

.hoverable:hover {
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 rgba(3, 102, 214, 0.2), 0 6px 20px 0 rgba(3, 102, 214, 0.19);
}

img.responsive-img {
    vertical-align: middle;
}

.row .col {
    padding: 0 8px;
}

.card-cat {
    font-size: 20px;
    color: #24292e;
    padding: 10px !important;
}

.card-cat i {
    vertical-align: middle;
}

.card .card-title {
    font-size: 18px;
}

.card .logo-img {
    padding: 6px;
}

.card .card-action {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 10px 0 0 0;
    margin-top: 10px;
}
.card-action-btn{
    border: 1px solid #0366d6;
    border-radius: 6px;
    padding: 3px 5px;
    margin-right: 5px !important;
    color: #0366d6 !important;
}
.input-field input[type=search] {
    background-color: white;
    color: #444444;
}

nav .input-field label.active i {
    color: #444444;
}

.side-nav {
    background-color: #05264c;
}

.side-nav a {
    color: #a5bad2;
    font-size: 20px;
}

.side-nav .active {
    background-color: #2c4056;
    color: white;
}

.side-nav a:hover {
    background-color: #34485f;
}

.valign-wrapper {
    cursor: pointer;
}

.logo-text {
    color: white;
    font-size: 28px;
    line-height: 108px;
    text-align: left;
}

.logo-main {
    text-align: center;
    margin: 15px 0;
}

.countdown-text {
    font-weight: bold;
    font-size: 30px;
    color: black;
    float: left;
    margin-left: 60px;
}

.countdown-time {
    float: left;
}

/* region GitHub Cornor*/
.github-corner :hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

.github-svg {
    fill: #ffffff;
    color: #37474f;
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
}

@media (max-width: 991px) {
    .github-corner > svg {
        fill: #fff !important;
        color: #37474f !important;
    }

    .github-corner .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}

@-moz-keyframes octocat-wave {
    0%, 100% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    20%, 60% {
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
        -o-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }
    40%, 80% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}

@-webkit-keyframes octocat-wave {
    0%, 100% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    20%, 60% {
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
        -o-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }
    40%, 80% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}

@-o-keyframes octocat-wave {
    0%, 100% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    20%, 60% {
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
        -o-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }
    40%, 80% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}

@keyframes octocat-wave {
    0%, 100% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    20%, 60% {
        -webkit-transform: rotate(-25deg);
        -moz-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
        -o-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }
    40%, 80% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}

/* endregion*/
