<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title th:text="${navName}"></title>
    <link rel="shortcut icon" th:if="${logoToFavicon}" th:href="${logoPath}" />
    <link type="text/css" rel="stylesheet" th:href="@{/assets/lib/iview/iview.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/common.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/index.css}">
</head>
<body>
<div v-cloak id="app">
    <section class="admin-layout-container"
             :class="{'small-layout-container':isSmallLayout}">
        <div class="layout">
            <Layout>
                <Sider ref="sidebar" class="sidebar"
                       collapsible
                       :collapsed-width="80"
                       v-model="isCollapsed">
                    <div class="logo">
                        <div v-if="!isCollapsed" class="logo-saiqu">
                            <Avatar class="logo-avatar"
                                    shape="square" icon="ios-paper-plane"
                                    th:src="${logoPath}"></Avatar>
                            <span class="logo-text" th:text="${navName}"></span>
                        </div>
                        <Avatar v-else class="logo-avatar"
                                shape="square" icon="ios-paper-plane"
                                th:src="${logoPath}"></Avatar>
                    </div>
                    <i-menu
                            ref="side_menu"
                            theme="light"
                            :class="menuitemClasses"
                            v-if="!isCollapsed">
                        <template v-for="item in datas" :key="item.id">
                            <menu-item :name="item.name" @click.native="choosedMenu(item.id)">
                                <Icon :size="24" :type="item.icon"></Icon>
                                <span>{{item.name}}</span>
                            </menu-item>
                        </template>
                    </i-menu>
                    <div class="dropdown-wrap" v-else>
                        <div class="dw-content">
                            <template v-for="item in datas" :key="item.id">
                                <Dropdown transfer placement="right-start"
                                          @on-click="choosedMenu(item.id)">
                                    <i-button class="dd-btn" type="text" @click="choosedMenu(item.id)">
                                        <Icon :size="28" :type="item.icon"></Icon>
                                    </i-button>
                                    <dropdown-menu class="dd-menu" slot="list">
                                        <dropdown-item :name="item.name">
                                            <div class="ddi-wapper">
                                                <Icon :size="24" :type="item.icon"></Icon>
                                                <span class="ddi-text" v-text="item.name"></span>
                                            </div>
                                        </dropdown-item>
                                    </dropdown-menu>
                                </Dropdown>
                            </template>
                        </div>
                    </div>
                </Sider>
                <Layout :class="[isCollapsed?'sidebar-hidden':'sidebar-show']">
                    <i-header class="layout-header-bar">
                        <div class="header-wapper">
                            <div class="header-left">
                                <Icon @click.native="collapsedSider"
                                      :class="rotateIcon" type="md-menu"
                                      size="26"></Icon>
                                <i-input class="header-search"
                                         search
                                         placeholder="输入关键字回车搜索..."
                                         v-model.trim="keywords"
                                         @on-search="loadTree"></i-input>
                                <carousel-flip-notice></carousel-flip-notice>
                            </div>
                            <home-header-right></home-header-right>
                        </div>
                    </i-header>
                    <home-card-list :datas="datas"></home-card-list>
                    <back-top @on-click="scrollToTop"></back-top>
                </Layout>
            </Layout>
        </div>
    </section>
</div>
<script type="text/javascript" th:if="${isIe}" th:src="@{/assets/js/babel.min.js}"></script>
<script type="text/javascript" th:if="${isIe}" th:src="@{/assets/js/polyfill.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/lib/vue.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/lib/iview/iview.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/lib/axios.min.js}"></script>
<script th:type="${isIe?'text/babel':'text/javascript'}" charset="UTF-8" th:src="@{/assets/js/vue-utils.js}"></script>
<div th:replace="components/carousel-flip-notice::carousel-flip-notice"></div>
<div th:replace="components/home-card-list::home-card-list"></div>
<div th:replace="components/home-header-right::home-header-right"></div>
<script type="text/javascript" th:inline="javascript">
    const defLayoutSize = /*[[${layoutSize}]]*/ 'small-layout';
</script>
<script th:type="${isIe?'text/babel':'text/javascript'}" charset="UTF-8" th:src="@{/assets/js/index.js}"></script>
</body>
</html>
