<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="change-password">
    <template id="change-password">
        <Card>
            <p slot="title">
                <Icon type="ios-lock-outline"></Icon>
                密码修改
            </p>
            <a href="javascript:void(0)" slot="extra" class="btn-save" @click="savePassword()">保存</a>
            <i-form ref="pwdForm"
                    :model="pwdItem"
                    label-width="100"
                    :rules="pwdItemRules" @submit.native.prevent>
                <form-item label="原密码" prop="oldPassword">
                    <i-input v-model.trim="pwdItem.oldPassword"
                             type="password"
                             clearable
                             maxlength="50"
                             placeholder="原密码"></i-input>
                </form-item>
                <form-item label="新密码" prop="newPassword">
                    <i-input v-model.trim="pwdItem.newPassword"
                             type="password"
                             clearable
                             maxlength="50"
                             placeholder="新密码"></i-input>
                </form-item>
                <form-item label="密码确认" prop="confirmPassword">
                    <i-input v-model.trim="pwdItem.confirmPassword"
                             type="password"
                             clearable
                             maxlength="50"
                             placeholder="密码确认"></i-input>
                </form-item>
            </i-form>
        </Card>
    </template>
    <script type="text/javascript">
        Vue.component('change-password', {
            template: '#change-password',
            data() {
                return {
                    pwdItem: {
                        oldPassword: '',
                        newPassword: '',
                        confirmPassword: ''
                    },
                    pwdItemRules: {
                        oldPassword: [
                            {required: true, message: '原密码不能为空'}
                        ],
                        newPassword: [
                            {required: true, message: '新密码不能为空'},
                            { type: 'string', min: 6, message: '密码不能少于6个字符'},
                            {
                                validator: (rule, value, callback) => {
                                    if (this.pwdItem.confirmPassword !== '') {
                                        this.$refs.pwdForm.validateField('confirmPassword');
                                    }
                                    callback();
                                }
                            }
                        ],
                        confirmPassword: [
                            {required: true, message: '密码确认不能为空'},
                            {
                                validator: (rule, value, callback) => {
                                    if (value !== this.pwdItem.newPassword) {
                                        callback(new Error('两次输入的密码不一致'));
                                        return;
                                    }
                                    callback();
                                }
                            }
                        ]
                    }
                }
            },
            methods: {
                savePassword() {
                    this.$refs.pwdForm.validate(valid => {
                        if (valid) {
                            this.$http.patch(`/api/v1/user/password`, {...this.pwdItem})
                                .then(() => {
                                    this.$notice.suc('密码修改成功，请重新登录');
                                    setTimeout(()=>{
                                        location.href = '/logout';
                                    }, 2000);
                                })
                                .catch(err => {
                                    console.error(err);
                                    this.$notice.err(err.response.data);
                                });
                        }
                    });
                }
            }
        })
    </script>
</div>
</html>
